body {
  background-color: #1c2436;
  background-image: url("../Images/pageVisiteur/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

#bodyAdmin{
  overflow-y: scroll;
  /* background-image: url("../Images/autre/Galaxie.png"); */
}

section, #navbarAcceuil {
  animation: fadeInAnimation ease 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover{
  color: #fff; 
}

#up{
  padding-top: 5vh;
}


/* ---------------------------------------------------------------------------------------- */
/*                                        NAVBAR                                            */
/* ---------------------------------------------------------------------------------------- */
nav {
  display: flex;
  text-decoration: none;

  .navbar-brand {
    font-family: aAcornSquash, Tahoma, "Times New Roman", SansSerif;
    font-size: 290%;
  }

  #logo {
    width: 40vh;
    height: auto;
  }

  a:hover{
    color:rgb(155, 122, 60); 
  }

  .nav {
    .nav-item {
      font-family: DoctorWho, "Times New Roman", SansSerif;
      font-size: 250%;

    }

    .dropdown-menu {
      font-size: 100%;
      border: none;
      background-color: transparent;

      .dropdown-item {
        color: white;
        background-color: transparent;
      }
    }
  }
}

.navbar {
  background-color: transparent;
  transition: 1s background-color;
}

/* ---------------------------------------------------------------------------------------- */
/*                                        TEXTE                                             */
/* ---------------------------------------------------------------------------------------- */
.text-center {
  padding-top: 25vh;
  color: white;
  .blockquote-footer {
    color: #fff;
  }
}

.texteRight {
  animation: sliderRight 2s;
}

.texteLeft {
  animation: sliderLeft 2s;
}

#texteConnect{
  padding-top: 28vh;
  animation: sliderRight 2s;
}

.texteHome{
  margin-top: 1500px;
  margin-bottom: 15vh;
  padding-top: 20vh;
}

/* ---------------------------------------------------------------------------------------- */
/*                                        CARD                                              */
/* ---------------------------------------------------------------------------------------- */
.row {
  padding-top: 15vh;
  padding: 2vh;

  .card {
    background-color: #1c2436;
    color: white;
    height: 100%;

    .card-title {
      margin-left: 1vh;
      font-family: DoctorWho, "Times New Roman", SansSerif;
      font-size: 270%;
    }

    img {
      position: top;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: .1s ease-in-out;
      transition: .1s ease-in-out;
    }

    img:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }

    .card-body {
      display: flex;
      justify-content: space-between;
    }
  }
}

/* .Home{
  background-image: url("../Images/autre/Galaxie.png");
} */

#rowFirst{
  margin-top: 10vh;
}

.rowOne{
  margin-top: 5vh;
}

.card-ajout{
  padding-top: 40vh;
  padding: 2vh;
}

.rowLeft{
  animation: sliderLeft 1s;
}

.rowRight {
  animation: sliderRight 1s;
}

#rowConnect {
  padding-top: 20vh;
}

@keyframes sliderLeft {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes sliderRight {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ---------------------------------------------------------------------------------------- */
/*                                        MODAL                                             */
/* ---------------------------------------------------------------------------------------- */
.modal-content{
  background-color:#1c2436;
  color: #fff;
  border-radius: 2%;
  width: 95vh;
  height: auto;
  margin-left: -20vh;
  p{
    margin: 2vh;
  }
  li{
    list-style-type: none;
    padding: 0.5vh;
    display: flex;
    justify-content: space-between;
  }
}

#modalConnection{
  text-align: center;
}

/* ---------------------------------------------------------------------------------------- */
/*                                      FORMULAIRE                                          */
/* ---------------------------------------------------------------------------------------- */
//Uniquement centrer le formulaire sur la page 
form {
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-left: 15vh;
  width: 60vh;
  
}

form div + div {
  margin-top: 1rem;
}

//Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées 
label { 
  display: inline-block;
  margin-top: 2vh;
  width: 60vh;
}

input{
  width: 60vh;
}

textarea{
  width: 60vh;
  height: 10vh;
}

h4{
  margin-left: 2vh;
  font-family: DoctorWho, "Times New Roman", SansSerif;
  font-size: 2.5rem;
}

.form-select{
  width: 10vh;
}

/* ---------------------------------------------------------------------------------------- */
/*                                        BOUTON                                            */
/* ---------------------------------------------------------------------------------------- */
.btn {
  margin-top: 20px;
  margin-left: 25vh;
  margin-right: 25vh;
  color : white;
  border-color: #fff;
  width: auto;
  
}

.btn:hover {
  color: white;
  background-color: rgb(155, 122, 60);
}

.btn-resa{
  margin-left: 40vh;
  margin-right: 40vh;
}

.btn-contact{
  margin-left: 38vh;
  
}

.admin{
  margin-top: 10vh;
  margin-left: 5vh;
  margin-right: 0;
  
}

.btn-admin{
  background-color: #1c2436;
  margin-left: 5vh;
  margin-right: 0;
  
}

.btn-file{
  margin-left: 10vh;
  margin-right: 0;
}

/* ---------------------------------------------------------------------------------------- */
/*                                        TABLEAU                                           */
/* ---------------------------------------------------------------------------------------- */
table{
  border-top-left-radius: 1vh;
  background-color: #1c2436;
  color: #fff;
  width: 100%;
  thead{
    color: rgb(155, 122, 60);
    font-family: DoctorWho, "Times New Roman", SansSerif;
    font-size: 2.5rem;
    td{
      padding: 1vh;
    }
  }
}

.tableau{
  padding: 5vh;
  tr{
      border-bottom: solid 1px #fff;
    }
  th{
      text-align: center;
    }  
}

.tfirst{
  margin-top: 40vh;
  margin-bottom: 40vh;
}

.ligne-body{
  font-style: italic;
  td{
      padding: 1%;
  }
}


/* ---------------------------------------------------------------------------------------- */
/*                                        FLECHES                                           */
/* ---------------------------------------------------------------------------------------- */
.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10vh;
  .cta {
    text-decoration: none;
    font-family: DoctorWho, "Times New Roman", SansSerif;
    font-size: 3rem;
    color: white;
    transition: 1s;
    transform: skewX(-15deg);

    .cta:focus {
      outline: none;
    }

    .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0;
    }
  }
}

//Flêche vers la gauche  
.previousArrow { 
  transform: rotate(0.5turn);
  flex-direction: row-reverse;
}

//Flêche vers le bas  
.downArrow { 
  transform: rotate(0.23turn);
}

.downIndex { 
  justify-content: center;
  align-items: center;
  margin: 10vh;
  padding: 35vh;
}

//Flêche de l'accueil  
#arrowAcceuil { 
  justify-content: center;
  align-items: center;
  padding-top: 80vh;
}


/************* SVG ***************/
svg {
  width: 66px;
  height: 43px;
}

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}


/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #1c2436;
  }
  100% {
    fill: white;
  }
}

/* ---------------------------------------------------------------------------------------- */
/*                                        FOOTER                                            */
/* ---------------------------------------------------------------------------------------- */
#contenu {
  height: 100%;
}

#bas {
  position: relative;
  padding: 10px 10px 10px 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #1c2436;
  color: white;
}

/* ---------------------------------------------------------------------------------------- */
/*                                  A GARDER DE COTER                                       */
/* ---------------------------------------------------------------------------------------- */

/*.animeScrollDown{*/
/*     animation: 2s jcp;*/
/*}*/

/*.animeScrollUp{*/
/*    animation: 2s jcc;*/
/*}*/

/*@keyframes jcc {*/
/*    from{*/
/*        background-color: #212529;*/
/*    }*/
/*    to{*/
/*        background-color: transparent;*/
/*    }*/
/*}*/

/*@keyframes jcp {*/
/*    from{*/
/*        background-color: transparent;*/
/*    }*/
/*    to{*/
/*        background-color: #212529;*/
/*    }*/
/*}*/